@model List<CSRESTfulWCFServiceASPNETClient.Models.User>
@{
    ViewBag.Title = "RESTfulWCFMVC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="button operation">
    @Html.ActionLink("Create User", "Create")
</p>
<table id="gridview">
    <tr class="title">
        <th>Id
        </th>
        <th>Name
        </th>
        <th>Age
        </th>
        <th>Sex
        </th>
        <th>Comments
        </th>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
    </tr>

    @{
        if (Model != null)
        {
            foreach (var user in Model)
            { 
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.Age</td>
                    <td>@user.Sex</td>
                    <td>@user.Comments</td>
                    <td>@Html.ActionLink("Edit", "Edit", new { id = @user.Id }, new { classname = "useredit" })</td>
                    <td>@Html.ActionLink("Delete", "Delete", new { id = @user.Id }, new { classname = "userdel" })</td>
                </tr>
            }
        }
    }
</table>


