@model CSIPGeographicalLocationASPNETCore.IPGeographicalLocation

<form method="get" action=".">
    type simulate
    <input type="text" name="ip" value="@Model.IP" />
    <button>submit</button>
</form>

<style>
    table { border-collapse: collapse }
    table, th, td { border: 1px solid #111; }
</style>
<table>
    <tr>
        <td>IP</td>
        <td>@Model.IP</td>
    </tr>
    <tr>
        <td>Country code</td>
        <td>@Model.CountryCode</td>
    </tr>
    <tr>
        <td>Country name</td>
        <td>@Model.CountryName</td>
    </tr>
    <tr>
        <td>Region code</td>
        <td>@Model.RegionCode</td>
    </tr>
    <tr>
        <td>Region name</td>
        <td>@Model.RegionName</td>
    </tr>
    <tr>
        <td>City</td>
        <td>@Model.City</td>
    </tr>
    <tr>
        <td>Zip code</td>
        <td>@Model.ZipCode</td>
    </tr>
    <tr>
        <td>Time zone</td>
        <td>@Model.TimeZone</td>
    </tr>
    <tr>
        <td>Latitude</td>
        <td>@Model.Latitude</td>
    </tr>
    <tr>
        <td>Longitude</td>
        <td>@Model.Longitude</td>
    </tr>
    <tr>
        <td>Metro code</td>
        <td>@Model.MetroCode</td>
    </tr>
</table>