@using CSMultipleFieldValidationASPNETCore.Models

@model Schedule
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="~/lib/jquery.js"></script>
    <script src="~/lib/jquery.validate.js"></script>
    <script src="~/lib/jquery.validate.unobtrusive.js"></script>
    <script>
        (function () {
            function getModelPrefix(fieldName) {
                return fieldName.substr(0, fieldName.lastIndexOf(".") + 1);
            }

            function appendModelPrefix(value, prefix) {
                if (value.indexOf("*.") === 0) {
                    value = value.replace("*.", prefix);
                }
                return value;
            }

            function escapeAttributeValue(value) {
                return value.replace(/([!"#$%&'()*+,./:;<=>?@@\[\\\]^`{|}~])/g, "\\$1");
            }

            $.validator.addMethod('beforthan', function (value, element, params) {
                var currentValue = new Date(value);
                var compareValue = new Date(params.other.value);

                return currentValue <= compareValue;
            });

            $.validator.unobtrusive.adapters.add("beforthan", ["other"], function (options) {
                var prefix = getModelPrefix(options.element.name),
                    other = options.params.other,
                    fullOtherName = appendModelPrefix(other, prefix),
                    element = $(options.form).find(":input").filter("[name='" + escapeAttributeValue(fullOtherName) + "']")[0];

                options.rules["beforthan"] = {
                    other: element
                };

                options.messages["beforthan"] = options.message;
            });
        }());
    </script>
    <style>
        table { border-collapse: collapse; margin-bottom: 10px; border: 3px solid #999 }
        table td { border: 1px solid #999 }
    </style>
</head>
<body>
    <h2>Add a new Schedule</h2>
    <form method="post">
        <table>
            <tr>
                <td>Title</td>
                <td><input asp-for="Title" value="@Model.Title" /></td>
                <td><span asp-validation-for="Title"></span></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input asp-for="Description" value="@Model.Description" /></td>
                <td><span asp-validation-for="Description"></span></td>
            </tr>
            <tr>
                <td>StartTime</td>
                <td><input type="text" asp-for="StartTime" value="@Model.StartTime.ToString("MM/dd/yyyy")" /></td>
                <td><span asp-validation-for="StartTime"></span></td>
            </tr>
            <tr>
                <td>EndTime</td>
                <td><input type="text" asp-for="EndTime" value="@Model.EndTime.ToString("MM/dd/yyyy")" /></td>
                <td><span asp-validation-for="EndTime"></span></td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2"><button>submit</button></td>
            </tr>
        </table>
    </form>

    <h2>ScheduleList</h2>
    @foreach (var item in ViewBag.Schedules as List<Schedule>)
    { 
        <table>
            <tr>
                <td>Title</td>
                <td>@item.Title</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@item.Description</td>
            </tr>
            <tr>
                <td>StartTime</td>
                <td>@item.StartTime</td>
            </tr>
            <tr>
                <td>EndTime</td>
                <td>@item.EndTime</td>
            </tr>
        </table>
    }
</body>
</html>