@model List<CSMapJsonToCSModelASPNetCore.Model.Employee>

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <style>
        table { border-collapse: collapse;margin-bottom:10px;border:3px solid #999 }
        table td { border: 1px solid #999 }
    </style>
</head>
<body>
    <h2>Add a employee</h2>

    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" id="name" /></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input type="text" id="age" /></td>
        </tr>
        <tr>
            <td>DepartmentName</td>
            <td><input type="text" id="department_name" /></td>
        </tr>
    </table>
    <button id="submit">submit</button>
    <script>
        $("#submit").click(function () {
            var jsonData = {
                employee_name: $("#name").val(),
                employee_age: $("#age").val(),
                employee_department_name: $("#department_name").val()
            };

            $.ajax({
                url: "/Home/Index",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(jsonData),
                success: function (data) {
                    if (data.state == 0) {
                        document.location.reload();
                    }
                }
            });
        });
    </script>

    <h2>Server render data</h2>
    @foreach (var item in Model)
    {
        <table>
            <tr>
                <td>EmployeeId</td>
                <td>@item.EmployeeId</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@item.Name</td>
            </tr>
            <tr>
                <td>Age</td>
                <td>@item.Age</td>
            </tr>
            <tr>
                <td>DepartmentName</td>
                <td>@item.DepartmentName</td>
            </tr>
            <tr>
                <td>Serialize json string</td>
                <td>@Newtonsoft.Json.JsonConvert.SerializeObject(item)</td>
            </tr>
        </table>
    }
</body>
</html>