@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    var cultureItems = LocOptions.Value.SupportedUICultures.ToList();
    var currentCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture;

    var sampleTitle = Localizer["Code Sample for localization"];
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@(ViewBag.Title)_@sampleTitle</title>
</head>
<body>
    <h1>@sampleTitle</h1>
    <div>
        @RenderBody()
    </div>
    <form action="/Home/SetLanguage">
        <input name="returnUrl" type="hidden" value="@Context.Request.Path" />
        <select name="culture">
            @foreach (var item in cultureItems)
            {
                <option value="@item.Name" @(currentCulture.Culture.Name == item.Name ? "selected" : "")>
                    @item.DisplayName
                </option>
            }
        </select>
        <button type="submit">Switch Location</button>
    </form>
</body>
</html>